/* ------------- Imports ------------- */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* ------------- Imports ------------- */

/* ------------- Div for Image-Header Start ------------- */
.ImgHeaderProduct {
  background-image: url("../images/HeaderImageProductpage.jpg");
  width: auto;
  height: 25em;
  text-align: center;
}

img.ImgHeaderProduct {
  width: 100%;
  height: auto;
}

html {
  background-color: #202124;
}

/* ------------- Div for Image-Header End ------------- */


/* ------------- Body div class Logo Start ------------- */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #202124;
}

/* ------------- Productname start ------------- */
.ProductName {
  display: flex;
  justify-content: center;
}

h2.ProductName {
  width: 70%;
  overflow-wrap: break-word;
}

h2.ProductNameGradient {
  font-family: "great_vibesregular"
    background: #B78628;
  background: linear-gradient(to right, #A57C01 0%, #B79001 50%, #FFDF01 50%, #EDCB01 50%, #DBB701 50%, #C9A401 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------- Productname end ------------- */
.ProductName {
  display: flex;
  justify-content: center;
}

h2.ProductName {
  width: 70%;
  overflow-wrap: break-word;
}

h2.ProductNameGradient {
  font-family: 'Great Vibes', cursive;
  background: #B78628;
  background: linear-gradient(to right, #A57C01 0%, #B79001 50%, #FFDF01 50%, #EDCB01 50%, #DBB701 50%, #C9A401 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------- Productcolummn start ------------- */
.ProductDescription {
  display: flex;
  justify-content: center;
}

h3.ProductDescription {
  width: 70%;
  overflow-wrap: break-word;
}

h3.ProductDescriptionGradient {
  font-family: 'Great Vibes', cursive;
  background: #B78628;
  background: linear-gradient(to right, #A57C01 0%, #B79001 50%, #FFDF01 50%, #EDCB01 50%, #DBB701 50%, #C9A401 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------- Productcolummn end ------------- */

/* ------------- briefdesc. start ------------- */
.briefdesc {
  display: flex;
  justify-content: center;
}

h5.briefdesc {
  color: white;
  width: 50%;

  overflow-wrap: break-word;
}


/* ------------- briefdesc. end ------------- */
H1.gradient {
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  background: #B78628;
  background: linear-gradient(to right, #A57C01 0%, #B79001 50%, #FFDF01 50%, #EDCB01 50%, #DBB701 50%, #C9A401 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

/* ------------- Body div class Logo End ------------- */

/*---------------Fotter background----------------------*/
footer {
  background-color: #3E3E3E;
}

/*---------------fotter bakground end--------------------*/
.bar {
  background-color: #3E3E3E;
  height: 100px;
}
